input.edited:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

.question-wrapper {
  h3 {
    color: #4d4d4d;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'arial' !important;
    letter-spacing: 0;
    text-align: left;
  }

  &--questions {
    text-align: left;
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    font-size: 16px;

    & li {
      margin-bottom: 5px;
    }
  }
}
