input.edited:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

.ex-container {
  display: flex;
  flex-direction: column;

  &--item {
    margin: 0 auto;
    width: 75%;

    &:nth-child(2),
    &:nth-child(4){
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
}
